@{
  Layout = "_Layout";
}

@model RecipeBox.Models.Recipe

@using (Html.BeginForm())
{

  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name)
  <h3>@Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })</h3> 
  <input type="submit" value="Add new recipe" class="btn btn-default" />
}


<p class="enlarge">@Html.ActionLink("Show all recipes", "Index")</p>