@{
  Layout = "_Layout";
}

@model RecipeBox.Models.Tag

<h1>Create Tag</h1>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Category)
  @Html.TextBoxFor(model => model.Category)
  <br>

  <p class="enlarge"><input type="submit" value="Add Tag"></p>
}

<p class="enlarge">@Html.ActionLink("Show all tags", "Index")</p>
